body.light {
    background-color: #f8f9fa;
    color: hsl(0, 33%, 2%);
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.card {
    background-color: inherit;
    color: inherit;
}

.app-container {
    background-color: transparent;
}

.custom-nav-link {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding: 6px 12px;
    margin-right: 8px;
}

body.light .custom-nav-link:hover {
    background-color: #e0e0e0;
    color: #000;
}

body.dark .custom-nav-link:hover {
    background-color: #333;
    color: #fff;
}

.active-category {
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
}

.news-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background-color: inherit;
  color: inherit;
}

.news-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(172, 23, 23, 0.15);
  cursor: pointer;
}

#nprogress .bar {
  background: red !important;
}