body.light {
    background-color: #f8f9fa;
    color: hsl(0, 33%, 2%);
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.card {
    background-color: inherit;
    color: inherit;
}

.app-container {
    background-color: transparent ;
}